---
import { Image } from "astro:assets";
import CoolImageOne from "./../cool-me-photo-1.jpg";
---

<div class="max-w-xl mx-auto p-4">
  <!-- <Image
    src={CoolImageTwo}
    alt="me demoing a thing i've built"
    
  /> -->

  <h1 class="text-lg">hey there!</h1>

  <p class="mt-2 text-lg">
    akash here, i am a typescript engineer, currently bulding stuff <a
      href="https://github.com/hoppscotch/hoppscotch"
      target="_blank">@hoppscotch</a
    >
  </p>

  <p class="mt-2 text-lg">
    i've been procrastinating on building my personal website since a long time.
    what's even the motivation to build one ? all the ai models taking over the
    world, all the side projects and experiments to work on, new things coming
    out every other day, so my personal website took a backseat.
  </p>

  <p class="mt-2 text-lg">
    so untill i get around to building one, enjoy a cool photo of me presenting <a
      class="underline"
      href="https://browserplane.com"
      target="_blank">browserplane</a
    > ( its a tiny side project i've built ).
  </p>

  <Image
    src={CoolImageOne}
    alt="me demoing a thing i've built"
    class="rounded-md my-4"
  />

  <p class="text-lg">and some of my cherry picked tweets. have a nice day!</p>

  <div class="mt-8 flex flex-col gap-2">
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        🧵 code snippets i&#39;ve used for deploying my api<br /><br />i&#39;m
        trying out fly. will start with fly commands first <a
          href="https://t.co/Ml1mL0wE2N">pic.twitter.com/Ml1mL0wE2N</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1831036236712354272?ref_src=twsrc%5Etfw"
        >September 3, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        In the midnight hour, I can feel your power<br />Just like a prayer, you
        know I&#39;ll take you there<br /><br />we shipping hard. <a
          href="https://t.co/uukcsQJAyu">pic.twitter.com/uukcsQJAyu</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1825903209069572368?ref_src=twsrc%5Etfw"
        >August 20, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        a browser extension that downloads and manages all the local models (eg:
        llms/whisper/segment anything) and provides a nice api for websites to
        build using them. <br />( basically ollama as an extension )<br /><br
        />- can bypass the 2gb size limitation for caching when loading normally
        ( i need… <a href="https://t.co/tsIpbF7y7K"
          >pic.twitter.com/tsIpbF7y7K</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1825318173568078295?ref_src=twsrc%5Etfw"
        >August 18, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        📢 browserplane has been acquired<br /><br />by none other than mother
        taylor. incredibly excited to work with her. its a dream come true. lets
        goooo swifteees. <a href="https://t.co/LAeTUZDFCU"
          >pic.twitter.com/LAeTUZDFCU</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1825099133297827897?ref_src=twsrc%5Etfw"
        >August 18, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        TIL<br /><br />you can use a github personal access token in the clone
        url to clone a github repo.<br /><br />this came useful when i wanted to
        clone a repo to my droplet without setting up SSH and stuff for github.<br
        /><br />it goes,<br
        />`https://&lt;your_token&gt;/&lt;your-username&gt;/&lt;your-repo&gt;.git`<br
        /><br />so handy. <a href="https://t.co/VxIll82Uru"
          >pic.twitter.com/VxIll82Uru</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1824477864781119712?ref_src=twsrc%5Etfw"
        >August 16, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        a small quality of life update coming to browserplane,<br />you can see
        the screenshot taken as context directly in your conversation.<br /><br
        />removes the magic &amp; helps the user understand exactly what went to
        the model. <a href="https://t.co/XxfhSQRZmx"
          >pic.twitter.com/XxfhSQRZmx</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1812517179440714185?ref_src=twsrc%5Etfw"
        >July 14, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        free tier is coming. i&#39;m dying to take this to production. gonna
        take a few more days.<br /><br />i&#39;ll see if a free tier increases
        conversions.<br /><br />lots of changes.<br />- didn&#39;t have a
        backend prior<br />- but now we&#39;ve one, and that enables the free
        tier stuff<br />- so moved a lot of FE code to BE, also… <a
          href="https://t.co/fWcZZpIefD">pic.twitter.com/fWcZZpIefD</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1809651596835582359?ref_src=twsrc%5Etfw"
        >July 6, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        you can try the on device ai model shipped with chrome by downloading
        the chrome canary and enabling some flags.<br /><br />no api calls,
        fully ondevice. uses gemini nano ( it is multimodel, but the apis are
        only for text as of now ) to power the experience.<br /><br />but you
        need 22 GB storage in… <a href="https://t.co/dTjG3fcQHT"
          >pic.twitter.com/dTjG3fcQHT</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1806772517069025489?ref_src=twsrc%5Etfw"
        >June 28, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        google gemini can now explain errors in your developer console.<br /><br
        />available in chrome 126. <a href="https://t.co/VKWcUKBXFm"
          >pic.twitter.com/VKWcUKBXFm</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1803116021949341821?ref_src=twsrc%5Etfw"
        >June 18, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        i was working with async iterators for setting up some llm streaming.
        and find out this handy Promise method. <br /><br />its new and browser
        support is not quiet there yet if you&#39;re targeting old browsers. but
        practically equivalent to the verbose way. can easily be transpiled. <a
          href="https://t.co/hvBmo5KJxN">pic.twitter.com/hvBmo5KJxN</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1801734927677067349?ref_src=twsrc%5Etfw"
        >June 14, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Hey guys,<br /><br />I am launching the initial version of browserplane
        today.<br /><br />browserplane is a chrome extension that can see and
        understand the webpage you&#39;re visiting, and help you with any
        queries.<br /><br />details + demos in the below thread.<br /><br />also
        this will be the cheapest time to grab a… <a
          href="https://t.co/FRXLvGrshu">pic.twitter.com/FRXLvGrshu</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1795816837302604059?ref_src=twsrc%5Etfw"
        >May 29, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        it&#39;s a little annoying that you can get done with the core of the
        product ( the exciting part ) pretty quickly, but to get it out , you
        gotta get a lot of mundane stuff done. <br /><br />but gotta do what we
        gotta do. <a href="https://t.co/MZEpD7klpd"
          >pic.twitter.com/MZEpD7klpd</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1790543354490769513?ref_src=twsrc%5Etfw"
        >May 15, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Built a small app that lets me record me speaking using Whisper. <br
        /><br />I talk to myself when thinking about ideas or when trying to
        bring clarity about my thoughts, its feels a lot more natural. <a
          href="https://t.co/uRnWNO8lOy">pic.twitter.com/uRnWNO8lOy</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1663282605280616449?ref_src=twsrc%5Etfw"
        >May 29, 2023</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        an api action that puts stuff into your notion + custom gpt + chatgpt
        mobile app = your thoughts go directly in your notion<br /><br
        />everything&#39;s hard-coded right now, but if anyone&#39;s interested
        will spin up a generic version <a href="https://t.co/NkSQnk0GfT"
          >pic.twitter.com/NkSQnk0GfT</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1743808175516832170?ref_src=twsrc%5Etfw"
        >January 7, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        i&#39;ve started posting these videos on instagram. i&#39;m trying to
        figure out if posting consistently helps an account grow.<br /><br
        />because the hardest part about posting consistently is making the
        videos.<br /><br />the hardest part about making the videos for me is
        getting the recording part and… <a href="https://t.co/tyhkNnVxi1"
          >https://t.co/tyhkNnVxi1</a
        >
        <a href="https://t.co/JD0shZMn9n">pic.twitter.com/JD0shZMn9n</a>
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1743799692742553774?ref_src=twsrc%5Etfw"
        >January 7, 2024</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        giving birth to an ai powered programming content creator. <br /><br
        />what should i call him ? <br /><br />nb: this is an intial video.
        i&#39;m planning to throw in a little bit of transitions / animations
        into this. <a href="https://t.co/v20ulvuPgv"
          >pic.twitter.com/v20ulvuPgv</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1740480736602566861?ref_src=twsrc%5Etfw"
        >December 28, 2023</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        I was tinkering around to see if it is possible to build truly local LLM
        related products.<br /><br />Just as a start, tried playing around with
        implementing a vector search with small models that are practical to be
        embedded in a webapp ( still these are still pretty large for web… <a
          href="https://t.co/MAif9NDYXt">pic.twitter.com/MAif9NDYXt</a
        >
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1728471811078381961?ref_src=twsrc%5Etfw"
        >November 25, 2023</a
      >
    </blockquote>

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        played with custom gpts for some time. random thoughts. <br /><br />🧵⬇️
      </p>&mdash; Akash Mohan (@buriedstupidity) <a
        href="https://twitter.com/buriedstupidity/status/1724565065112949064?ref_src=twsrc%5Etfw"
        >November 14, 2023</a
      >
    </blockquote>
  </div>

  <div class="my-24">
    hey nice human, thank you for stopping by my corner of the internet. here's
    a cookie 🍪. and here are my socials. send a hi pls.

    <a
      class="block underline mt-2"
      target="_blank"
      href="https://twitter.com/buriedstupidity">twitter</a
    >
    <a
      class="block underline"
      target="_blank"
      href="https://instagram.com/alterakash_">instagram</a
    >
    <a class="block underline" target="_blank" href="https://github.com/amk-dev"
      >github</a
    >
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>
</div>

<style>
  body {
    @apply bg-neutral-50;
  }
</style>
